{% block base_campus %}
    <div class=" cardContainer section_nav hide-on-med-and-down" >
        <div class="section_nav_title">Navigation</div>
        <a href="{{ path('campus') }}">{{ 'campus.campus' | trans }}</a><img src="{{ asset('img/expand.png') }}" width="8" alt="">
        <a href="{{ path('sponsors') }}">{{ 'campus.sponsors' | trans }}</a><img src="{{ asset('img/expand.png') }}" width="8" alt="">
    </div>
{% endblock %}


