{% block nav %}

    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo  black-text">IMT</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="{{ path('index') }}">Bureau des étudiants</a></li>
                <li><a href="{{ path('index') }}">Bureau des arts</a></li>
                <li><a href="{{ path('index') }}">Bureau des sports</a></li>
                <li><a href="{{ path('index') }}">Junior Entreprise</a></li>
                <li><a href="{{ path('index') }}">Contacter</a></li>
            </ul>
        </div>
    </nav>

{% endblock %}