{% block nav %}

    <nav>
        <div class="nav-wrapper">
            <div data-target="slide-out" class="sidenav-trigger hide-on-large-only"><img style="cursor: pointer;" src="{{ asset("img/feather/menu.svg") }}" alt=""></div>
            <a href="{{ path('index') }}" class="brand-logo"><img width="100" src="{{ asset('img/imt-logo-white.png') }}" alt=""></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="{{ path('bde_index') }}">{{ 'nav.bde' | trans  }}</a></li>
                <li><a href="{{ path('bda_index') }}">{{ 'nav.bda' | trans  }}</a></li>
                <li><a href="{{ path('bds_index') }}">{{ 'nav.bds' | trans  }}</a></li>
                {#<li><a href="{{ path('je_index') }}">{{ 'nav.je' | trans  }}</a></li>#}
                <li><a href="{{ path("sponsors") }}">{{ 'campus.sponsors' | trans }}</a></li>
                <li><a href="{{ path('contact') }}">{{ 'nav.contact' | trans  }}</a></li>
            </ul>
        </div>
    </nav>
{% endblock %}