{% block nav %}

    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo"><img width="100" src="{{ asset('img/imt-logo-white.svg') }}" alt=""></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="{{ path('bde_index') }}">Bureau des étudiants</a></li>
                <li><a href="{{ path('bda_index') }}">Bureau des arts</a></li>
                <li><a href="{{ path('bds_index') }}">Bureau des sports</a></li>
                <li><a href="{{ path('je_index') }}">Junior Entreprise</a></li>
                <li><a href="{{ path('contact') }}">Contacter</a></li>
            </ul>
        </div>
    </nav>

{% endblock %}