{% block bda_nav %}
    <div class="cardContainer section_nav hide-on-med-and-down" >
        <div class="section_nav_title">Navigation</div>
        <a href="{{ path('bda_index') }}">{{ 'bda.nav.information' | trans }}</a><img src="{{ asset('img/expand.png') }}" width="8" alt="">
        <a href="{{ path('bda_clubs') }}">{{ 'bda.nav.clubs' | trans }}</a><img src="{{ asset('img/expand.png') }}" width="8" alt="">
        <a href="{{ path('bda_events') }}">{{ 'bda.nav.events' | trans }}</a><img src="{{ asset('img/expand.png') }}" width="8" alt="">
    </div>
{% endblock %}