{% extends 'base.html.twig' %}

{% block title %}BDA{% endblock %}

{% block header %}
    <div class="navTitle margin-30">{{ 'bda.bda_title' | trans | nl2br }}<br /></div>
    <div class="navDescription margin-30">{{ navigation_description | nl2br }}</div>
{% endblock %}

{% block content %}
    {{ block('bda_nav','bda/bda_nav.html.twig') }}
    <div class="section-content center">
        <div class="tinyDivider"></div>
        <div class="title">{{ 'bda.nav.clubs' | trans }}</div>
        <div class="margin-60"></div>
        <div class="container">
            <div class="cardContainer cardTable">
                <table>
                    {% for club in clubs %}
                        <tr>
                            <td>{{ club.name }}</td>
                            {% for leader in club.leaders %}
                                <td>{{ leader }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

    </div>
{% endblock %}
