{% extends 'base.html.twig' %}

{% block title %}BDA{% endblock %}


{% block header %}
    <div class="navTitle margin-30">{{ 'bda.bda_title' | trans | nl2br }}<br/></div>
    <div class="navDescription margin-30">{{ navigation_description | nl2br }}</div>
{% endblock %}

{% block content %}
    {{ block('bda_nav','bda/bda_nav.html.twig') }}
    <div class="section-content" data-aos="fade-up">

        <div class="tinyDivider"></div>
        <div class="title">{{ 'bda.nav.information' | trans }}</div>
        <div class="margin-40"></div>
        <div class="container">
            <p>
                {{ description  | nl2br }}
            </p>
            <div class="tinyDivider"></div>
        </div>
        <div class="margin-40"></div>
        <div class="title">{{ 'members' | trans }}</div>
        <div class="margin-40"></div>

        <div class="container">
            {% for pole in poles %}
                <div class="subtitle" data-aos="fade-up">{{ pole.name }}</div>
                <div class="margin-20"></div>
                <div class="poleMembers" data-aos="fade-up">
                    {% for member in pole.members %}
                        <div class="poleMember">
                            {% with {'img_src': asset(members_path ~ '/' ~  member.image),'title' : member.firstName ~ ' ' ~ member.lastName, 'description':'' } %}
                                {{ block('photo_card', 'common/photo_card.html.twig') }}
                            {% endwith %}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
            <div class="margin-40"></div>
        </div>
    {% endblock %}
