{% block event_card %}
    <div class="cardContainer eventCard center">
        <div class="eventCardImg" style="background-image: url({{ img_src }});" alt=""></div>
        <div class="containerTextEventCard">
            <div class="eventCardTitle">
                {{ title }}
            </div>
            <div class="eventCardDate">
                {{ date }}<br/>{{ schedule }}
            </div>
            <div class="eventCardDescription">
                {{ description }}
            </div>
        </div>
    </div>
{% endblock %}