{% block bde_nav %}
    <div class="cardContainer section_nav hide-on-med-and-down" >
        <div class="section_nav_title">Navigation</div>
        <a href="{{ path('bde_index') }}">{{ 'bde.nav.information' | trans }}</a><img src="{{ asset('img/expand.png') }}" width="8" alt="">
        <a href="{{ path('bde_events') }}">{{ 'bde.nav.events' | trans }}</a><img src="{{ asset('img/expand.png') }}" width="8" alt="">
        <a href="{{ path('bde_bar') }}">{{ 'bde.nav.bar' | trans }}</a><img src="{{ asset('img/expand.png') }}" width="8" alt="">
        {% for page in sectionBde.pages %}
            <a href="{{ path('dynamicPage', {sectionName: sectionBde.name, id: page.id}) }}">{{ page.title }}</a><img src="{{ asset('img/expand.png') }}" width="8" alt="">
        {% endfor %}
    </div>
{% endblock %}