<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <title>{% block title %}IMT Nantes Campus - Campus{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
            <link rel="stylesheet" href="{{ asset('css/materialize.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/aos.css') }}">
            <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon-32x32.png') }}" />
            <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
        {% endblock %}
        {% block additional_stylesheets %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <header>
                <div class="header-foreground" style="background-image: url({{ asset('img/header-background.svg') }})">
                    {{ block('nav', 'index/nav.html.twig') }}
                    <div class="container">
                        {% block header %}{% endblock %}
                    </div>
                </div>
            </header>

            {{ block('mobile_nav','index/mobile_nav.html.twig') }}


            {% block before_content %}

            {% endblock %}

            <div class="content">
                {% block content %}

                {% endblock %}
            </div>

        {% endblock %}
    </body>


    {% block footer %}
        <footer class="margin-60">
            <div class="center icons">
                <a href="https://www.facebook.com/IMTAtlantique/" target="_blank"><img src="{{ asset('img/facebook.png') }}" alt=""></a>
                <a href="https://www.instagram.com/imt_atlantique" target="_blank"><img src="{{ asset('img/instagram.png') }}" alt=""></a>
                <a href="https://twitter.com/IMTAtlantique" target="_blank"><img src="{{ asset('img/twitter.png') }}" alt=""></a>
            </div>
            <div class="center">
                Copyright © 2019 | {{ 'copyright' | trans   }}
            </div>
            <div class="center">
                <a href="{{ path('administration') }}" target="_blank">Administration</a>
            </div>
        </footer>
    {% endblock %}



    <script src="{{ asset('js/materialize.min.js') }}"></script>
    <script src="{{ asset('js/aos.js') }}"></script>
    <script>
        AOS.init({
            once: true,
        });

        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems);
        });
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-148909415-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-148909415-1');
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.main-carousel').flickity({
                // options
                cellAlign: 'left',
                contain: true,
                autoPlay: 4000,
            });
        });
    </script>
    {% block javascripts %}

    {% endblock %}
</html>
