<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <title>{% block title %}IMT Nantes Campus - Campus{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
            <link rel="stylesheet" href="{{ asset('css/materialize.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/aos.css') }}">
            <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <header>
                <div class="header-foreground" style="background-image: url({{ asset('img/header-background.svg') }})">
                    {{ block('nav', 'index/nav.html.twig') }}
                    <div class="container">
                        {% block header %}{% endblock %}
                    </div>
                </div>
            </header>

            <div class="content">
                {% block content %}

                {% endblock %}
            </div>

            {% block javascripts %}
                <script src="{{ asset('js/materialize.min.js') }}"></script>
                <script src="{{ asset('js/aos.js') }}"></script>
                <script>
                    AOS.init({
                        once: true,
                    });
                </script>
            {% endblock %}
        {% endblock %}
    </body>


    {% block footer %}
        <footer class="margin-60">
            <div class="center icons">
                <img src="{{ asset('img/facebook.png') }}" alt="">
                <img src="{{ asset('img/instagram.png') }}" alt="">
                <img src="{{ asset('img/twitter.png') }}" alt="">
            </div>
            <div class="center">
                Copyright © 2019 | {{ 'copyright' | trans   }}
            </div>
            <div class="center">
                <a href="{{ path('administration') }}">Administration</a>
            </div>
        </footer>
    {% endblock %}
</html>
