{% extends 'base.html.twig' %}

{% block title %}BDS{% endblock %}

{% block header %}
    <div class="navTitle margin-30">{{ 'bds.bds_title' | trans | nl2br }}<br /></div>
    <div class="navDescription margin-30">{{ 'bds.bds_description' | trans| nl2br }}</div>
{% endblock %}

{% block body %}
    {{ block('bds_nav','bds/bds_nav.html.twig') }}
    <div class="section-content"  data-aos="fade-up">

        <div class="tinyDivider"></div>
        <div class="title">{{ 'bds.nav.information' | trans }}</div>
        <div class="margin-40"></div>
        <div class="container">
            <p class="bdsDescription">Le BDS est le Bureau Des Sports. Il est actuellement géré par la Nova's. Il s'occupe de la vie
            sportive sur le campus en organisant des évènements. Ces évènements comprennent les journées sportives, des tournois
                internes à l'IMT, les compétitions comme le CARTEL etc. Le BDS est aussi là pour organiser l'intégration ainsi que pour
            rechercher et maintenir les partenariats avec ses sponsors. Des brunchs et des afterwork sont parfois
                organisés par le BDS.</p>
        <div class="tinyDivider"></div>
        <div class="title">{{ 'bds.nav.information' | trans }}</div>
        <div class="margin-40"></div>
        <div class="container">
            <p class="bdsDescription">Le BDS est le Bureau Des Sports. Il est actuellement géré par la Nova's. Il s'occupe de la vie
            sportive sur le campus en organisant des évènements. Ces évènements comprennent les journées sportives, des tournois
                internes à l'IMT, les compétitions comme le CARTEL etc. Le BDS est aussi là pour organiser l'intégration ainsi que pour
            rechercher et maintenir les partenariats avec ses sponsors. Des brunchs et des afterwork sont parfois
                organisés par le BDS.</p>
        </div>
    </div>
{% endblock %}
