{% extends 'base.html.twig' %}

{% block title %}BDS{% endblock %}

{% block header %}
    <div class="navTitle margin-30">{{ 'bds.bds_title' | trans | nl2br }}<br /></div>
    <div class="navDescription margin-30">{{ navigation_description | nl2br }}</div>
{% endblock %}

{% block content %}
    {{ block('bds_nav','bds/bds_nav.html.twig') }}
    <div class="section-content"  data-aos="fade-up">
        <div class="tinyDivider"></div>
        <div class="title">{{ 'bds.nav.sports_planning' | trans }}</div>
        <div class="margin-30"></div>
        <div class="tiny-container">
            <div class="center">
                {% for sportLocation in sportLocations %}
                    <div class="tag" style="background-color: {{ sportLocation.color }}">
                        {{ sportLocation.name  | capitalize }}
                    </div>
                {% endfor %}
            </div>
            <div class="margin-20"></div>

            {% with {
                'sportsPerDays': sportsPerDaysPlanning,
                'startDate': planningStartDate,
                'endDate': planningEndDate,
                'minutesNumber': planningMinutesNumber,
                'minutesInterval': minutesInterval,
                } %}
                {{ block('daily_planning', 'common/daily_planning.html.twig') }}
            {% endwith %}

            {#<div class="margin-30"></div>#}
            {#<div class="title">{{ 'bds.sports_during_day' | trans }}</div>#}
            {#<div class="margin-30"></div>#}

            {#<div class="cardContainer center">#}
                {#<table>#}
                    {#{% for sportPlanning in sportsDuringDay %}#}
                        {#<tr>#}
                            {#<td class="center">{{ sportPlanning.sport.name  | capitalize }}</td>#}
                            {#<td class="center">{{ sportPlanning.day | capitalize }} {{ sportPlanning.start | date("H:i")}} - {{ sportPlanning.end  | date("H:i") }}</td>#}
                            {#<td class="center"><div class="tag" style="background-color: {{ sportPlanning.location.color }}">{{ sportPlanning.location | capitalize }}</div></td>#}
                        {#</tr>#}
                    {#{% endfor %}#}
                {#</table>#}
            {#</div>#}

            <div>
                {{ planning_information  | raw }}
            </div>

        </div>

    </div>
{% endblock %}


{% block javascripts %}
    <script>
        let stopAutoScrolling = false;
        let stopScrollingTimer;
        let scrollInterval;
        $('#planning').on('touchmove DOMMouseScroll mousedown', function() {
            stopScrollingTimer = true;
            //self.clearInterval(scrollInterval);
            deactivateAutoScrollWithTimeout();
        });
        function deactivateAutoScrollWithTimeout() {
            stopAutoScrolling = true;
            window.clearTimeout( stopScrollingTimer );
            stopScrollingTimer = setTimeout(function() {
                stopAutoScrolling = false;
                console.log('restart')
            }, 4000);
        }
        window.addEventListener("load", () => {
            scrollInterval = self.setInterval(() => {
                console.log("ici");
                if(document.getElementById("planning").scrollLeft !== document.getElementById("planning").offsetWidth + 150 && !stopAutoScrolling) {
                    document.getElementById("planning").scrollTo(document.getElementById("planning").scrollLeft+1, 0);
                }
            }, 20);
        })
    </script>
{% endblock %}