{% extends 'base.html.twig' %}

{% block title %}BDS{% endblock %}

{% block header %}
    <div class="navTitle margin-30">{{ 'bds.bds_title' | trans | nl2br }}<br /></div>
    <div class="navDescription margin-30">{{ 'bds.bds_description' | trans| nl2br }}</div>
{% endblock %}

{% block content %}
    {{ block('bds_nav','bds/bds_nav.html.twig') }}
    <div class="section-content"  data-aos="fade-up">
        <div class="tinyDivider"></div>
        <div class="title">{{ 'bds.nav.sports_planning' | trans }}</div>
        <div class="margin-30"></div>
        <div class="tiny-container">
            {% with {
                'sportsPerDays': sportsPerDaysEveningPlanning,
                'startDate': eveningPlanningStartDate,
                'endDate': eveningPlanningEndDate,
                'minutesNumber': eveningPlanningMinutesNumber,
                'minutesInterval': minutesInterval,
                } %}
                {{ block('daily_planning', 'common/daily_planning.html.twig') }}
            {% endwith %}
        </div>
        {#<div class="tinyDivider"></div>#}
        {#<div class="title">{{ 'bds.nav.day_sports_planning' | trans }}</div>#}
        {#<div class="margin-30"></div>#}
        {#<div class="tiny-container">#}
            {#{% with {#}
                {#'sportsPerDays': sportsPerDaysDayPlanning,#}
                {#'startDate': dayPlanningStartDate,#}
                {#'endDate': dayPlanningEndDate,#}
                {#'minutesNumber': dayPlanningMinutesNumber,#}
                {#'minutesInterval': minutesInterval,#}
                {#} %}#}
                {#{{ block('daily_planning', 'common/daily_planning.html.twig') }}#}
            {#{% endwith %}#}
        {#</div>#}
    </div>
{% endblock %}


{% block javascripts %}
    <script>
        let stopAutoScrolling = false;
        let stopScrollingTimer = false;
        $('#planning').on('touchmove DOMMouseScroll mouseentered', function(event) {
            scrollTimeout();
        });
        function scrollTimeout() {
            stopAutoScrolling = true;
            window.clearTimeout( stopScrollingTimer );
            stopScrollingTimer = setTimeout(function() {
                stopAutoScrolling = false;
            }, 10000);
        }
        window.addEventListener("load", () => {
            setTimeout(function () {
                self.setInterval(() => {
                    if(document.getElementById("planning").scrollLeft !== document.getElementById("planning").offsetWidth && !stopAutoScrolling) {
                        document.getElementById("planning").scrollTo(document.getElementById("planning").scrollLeft+1, 0);
                    }
                }, 20);
            }, 2000);
        })
    </script>
{% endblock %}