{% extends 'base.html.twig' %}

{% block title %}BDS{% endblock %}

{% block header %}
    <div class="navTitle margin-30">{{ 'bds.bds_title' | trans | nl2br }}<br /></div>
    <div class="navDescription margin-30">{{ 'bds.bds_description' | trans| nl2br }}</div>
{% endblock %}

{% block content %}
    {{ block('bds_nav','bds/bds_nav.html.twig') }}
    <div class="section-content"  data-aos="fade-up">
        <div class="tinyDivider"></div>
        <div class="title">{{ 'bds.nav.sports_planning' | trans }}</div>
        <div class="margin-30"></div>
        <div class="container">
            <div class="cardContainer planningTable">
                <table border="1" width="100%">
                    <thead>
                    <tr>
                        <th class="firstTd"></th>
                        {% for j in 0..minutesNumber/minutesNumberInOneHour %}
                            <th class="center" colspan="{{ minutesNumberInOneHour / minutesInterval }}">{{ startDate | date_modify("+#{j} hour") | date("H:i") }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for day, sports in sportsPerDays %}
                        {% if sports|length == 0 %}
                            <tr>
                                <td class="firstTd center">{{ day }}</td>
                                <td colspan="2" class="center">
                                {% for j in 0..minutesNumber/minutesInterval %}
                                    <td class="center"></td>
                                {% endfor %}
                            </tr>
                        {% else %}
                            {% for i in 0..sports|length-1 %}
                                <tr class="{{  (i == 0 and sports | length > 1) ? "innerTr" : "" }}"  type="{{ day }}">
                                    {% if i == 0 %}
                                        <td rowspan="{{ sports | length > 0 ? sports |length : 1 }}" class="firstTd center">{{ day }}</td>
                                    {% endif %}
                                    <td colspan="2" class="center"></td>
                                    {% set offsetJ = 0 %}
                                    {% set counter = 0 %}
                                    {% for j in 0..minutesNumber/minutesInterval %}
                                        {% if sports[i][counter].start|toMinutesSince(startDate) == j*minutesInterval %}
                                            <td colspan="{{ sports[i][counter] | minutesBlocNumber(minutesInterval) }}" class="center">
                                                <div class="sportReservation" style="background-color: {{ sports[i][counter].sport.color }}">
                                                    <div class="sportReservationSportName">
                                                        {{ sports[i][counter].sport.name }}
                                                    </div>
                                                    <div class="sportReservationTime">
                                                        {{ sports[i][counter].start | date("H:i") }} - {{sports[i][counter].end| date("H:i") }}
                                                    </div>
                                                </div>
                                            </td>
                                            {% set offsetJ = sports[i][counter] | minutesBlocNumber(minutesInterval) %}
                                            {% if  (counter + 1) < (sports[i] | length) %}
                                                {% set counter = counter + 1 %}
                                            {% endif %}
                                        {% elseif offsetJ == 0 %}
                                            <td class="center"></td>
                                        {% else %}
                                            {% set offsetJ = offsetJ - 1 %}
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
